@import "tailwindcss";

:root {
  --background: #fbf9f8;
  --foreground: #1b1c1c;
  
  --primary: #180d62;
  --primary-foreground: #ffffff;
  
  --secondary: #994704;
  --secondary-foreground: #ffffff;
  
  --surface: #fbf9f8;
  --surface-foreground: #1b1c1c;
  
  --surface-variant: #e4e2e1;
  --outline: #787582;
  
  --error: #ba1a1a;
  --error-foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  
  --color-surface: var(--surface);
  --color-surface-foreground: var(--surface-foreground);
  
  --color-surface-variant: var(--surface-variant);
  --color-outline: var(--outline);
  
  --color-error: var(--error);
  --color-error-foreground: var(--error-foreground);
  
  --font-sans: var(--font-jakarta), Arial, sans-serif;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
